body {
    line-height: 28px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  
  body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
  }
  .container{
    width: 1170px;
    margin: 0px auto;
  }
  .header{
    /* height: 80px;
    width: 100%; */
    background-color: #1c1c1c;
    /* float: left; */
    overflow: hidden;
    
  }
  .header .address{
    color: #858585;
    display: inline-block;
    padding: 25px 0px;
  
  }
  .header .address img ,.header .address .address-text{
    float: left;
  }
  .header .help{
    /* float: right; */
    color: #858585;
    text-align: right;
    display: inline-block;
    margin: 26px 0px;
  
   /* display: inline; */
  }